.img1{
    height: 120px;
    background-color: rgb(148, 148, 212);
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.img{
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
}
.cnt{
    display: flex;
    justify-content: space-between;
}
.icn{
    display: flex;
    justify-content: end;
}